[submodule "nginx/repositories/nginx-dav-ext-module"]
	path = nginx/repositories/nginx-dav-ext-module
	url = git://github.com/arut/nginx-dav-ext-module.git
[submodule "nginx/repositories/nginx"]
	path = nginx/repositories/nginx
	url = git://github.com/nginx/nginx.git
